-var title = 'Index Page'
include template/head.pug
body
  include template/navbar.pug
  .container
    .jumbotron.text-center
      h1!= "Welcome"
      p="Jot down ideas for next YoiTube videos "
      a.btn.btn-dark.btn-lg(href="/ideas/add")="Add Video"

include template/footer.pug