include ../template/head.pug
body
  include ../template/navbar.pug
  .container
    include ../template/_msg.pug
    include ../template/errors.pug
    .card.card-body
      h3 Add Video Idea
      form(action="/ideas", method='post')
        .form-group
          label(for="title") Title
          input.form-control(type="text",name='title' ,required )
        .form-group
          label(for="details") Details
          textarea.form-control(type="text",name='details'  )
        button.btn.btn-primary(type="submit") Submit


include ../template/footer.pug