include ../template/head.pug
body
  include ../template/navbar.pug
  .container
    include ../template/_msg.pug
    include ../template/errors.pug
    .card.card-body
      h3 EditVideo Idea
      form(action=`/ideas/${idea.id}?_method=PUT`, method='post')
        input(type="hidden", name='_method', value='PUT')
        .form-group
          label(for="title") Title
          input.form-control(type="text",name='title',value=idea.title ,required )
        .form-group
          label(for="details") Details
          textarea.form-control(type="text",value=idea.details ,name='details')
        button.btn.btn-primary(type="submit") Submit


include ../template/footer.pug