include ../template/head.pug
body
  include ../template/navbar.pug
  .container
    if ideas && ideas.length
    each idea,index in ideas
      .card.card-body.mb-2
        h4= idea.title
        p= idea.details
        a.btn.btn-dark.btn-block(href=`/ideas/edit/` + idea.id) Edit


include ../template/footer.pug