nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.mb-3
  .container
    a.navbar-brand(href='/') NodeApp
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home 
        li.nav-item
          a.nav-link(href='/about') About
      if user
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/users/login') Login 
          li.nav-item
            a.nav-link(href='/users/register') Register
      else
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#",id='navbarDropdownMenuLink', data-toggle='dropdown') Video Ideas
            .dropdown-menu
              a.dropdown-item(href="/ideas") Ideas
              a.dropdown-item(href="/ideas/add") Add Idea

